torch
numpy
scipy
pandas 
matplotlib 
seaborn 
vector 
awkward  
torchvision 
torchaudio
torch_geometric
ipywidgets
scikit-learn
git+https://github.com/rusty1s/pytorch_scatter.git
git+https://github.com/rusty1s/pytorch_cluster.git
# torch-cluster 
# torch-scatter